<div class="page-header">
	<h1>Log In</h1>
</div>
	
<%= form_tag sessions_path, { :method => :post, :class => "simple_form form-horizontal" } do %>

		<div class="control-group email required session_email">
			<label class="email required control-label" for="session_email"><abbr title="required">*</abbr> Email</label>
			<div class="controls">
				<%= text_field_tag :email, params[:email], :class => "string email required", :type => "email", :size => 50 %>				
			</div>
		</div>
		
		<div class="control-group password required session_password">
			<label class="password required control-label" for="session_password"><abbr title="required">*</abbr> Password</label>
			<div class="controls">
				<%= text_field_tag :password, params[:password], :class => "string password required", :type => "password", :size => 50 %>						
			</div>
		</div>
	
		<div class="control-group remember_me session_remember_me">
			<label class="remember_me control-label" for="remember_me">Remember Me</label>
			<div class="controls">
				<%= check_box_tag :remember_me, 1, params[:remember_me], :class => "boolean remember_me" %>					
			</div>
		</div>
		
		<div class="controls">
			<p><%= link_to "Forgotten Password?", reset_password_path %></p>
			<p><%= link_to "New to Elephund?", signup_path %></p>			
		</div>
	
	  	<div class="form-actions">
	    	<%= submit_tag :submit, :value => "Log In", :class => 'btn btn-primary' %>
	  	</div>
		
<% end %>
