<h1>New Event</h1>

<%= simple_form_for @event do |f| %>

  <%= f.input :event_date, as: :date %>
  <%= f.input :description, as: :text %>
  <%= f.input :cost, as: :decimal %>
  <%= f.button :submit %>

<% end %>
